/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework
/vendor
/.idea
/.vscode
/.vagrant

.editorconfig
.env
.env.example
.gitattributes
artisan
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
